/fixed_types.h
/libsift.a
/sift.h
/sift_assert.h
/sift_format.h
/sift_reader.cc
/sift_reader.h
/sift_reader.o
/sift_utils.cc
/sift_utils.h
/sift_utils.o
/sift_writer.cc
/sift_writer.h
/sift_writer.o
/siftdump.cc
/zfstream.cc
/zfstream.h
/zfstream.o
